.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #808080;
}

.carousel-control-next,
.carousel-control-prev {
  width: auto;
}

.carousel-indicators {
  left: initial;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  opacity: initial;
  border: 2px solid white;
}

.carousel-indicators .active {
  background-color: #ff6e00;
  border: 2px solid white;
}